// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
}

img {
  width: 100%;
  vertical-align: bottom;
}

.btn1 {
  width: 180px;
}
.btn2 {
  width: 180px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;

  &:before {
    content: "\f005";
  }
}

@mixin clearfix() {

  &:after {
    content: "";
    width: 70px;
    height: 4px;
    background-color: #3CCACE;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.headermain{
  padding: 0 60px;
  
  .headerinner{
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;
    
    .headerHeader{
      position: relative;
      display: flex;
      align-items: center;
      
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        
        a {
          width: 140px;
          display: block;
        }
      }
      .searchbox{
        margin-left: auto;
        width: 100%;

        form {
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          input {
            width: calc(100% - 26px);
            height: 36px;
            padding: 0 0 0 5px;
          }
          button{
            width: 36px;
            border: 0;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;

            .searchbox_icon{
              img {
                border: 0;
              }
            }
          }
        }
      }
      .resultlists {
        display: flex;
        position: absolute;
        right: 0;
        top: 36px;
        z-index: 2;
      }
    }
    .nav{
      font-size: 14px;
      display: flex;
      margin-bottom: 10px;
      .listsLeft{
        position: relative;
        display: flex;
        &__item.listsLeft__item--first{
          text-decoration: none;
          padding: 0;
        }
        &__item{
          display: flex;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
        a{
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }
      .listsRight{
        margin-left: auto;
        display: flex;
        &__item{
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
          a {
            display: flex;
            align-items: center;
            color: #333;
            text-decoration: none;
            line-height: 32px;
          }
        }
      }
    }
  }
}

.main {
  background: #f8f8f8;

  &__content {
    width: 100%;
    height: 560px;
    background-image: url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    display: flex;
    align-items: center;

    .content {
      max-width: 1280px;
      width: 100%;
      margin: 0 auto;
      padding: 35px 0 0 0;

      &__subtitle {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 60px;
        line-height: 1.2;
        color: #fff;
      }
      &__text {
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }

      &__btn {
        display: flex;
        margin: 24px 0 0 0;

        a:first-child {
          margin-right: 10px;
        }
      }
    }

    .picture {
      position: absolute;
      top: 0;
      right: 210px;
    }
  }
  .topintro {
    padding: 60px 20px;

    .subtitle {
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include clearfix();
    }
    .lists {
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;

      .list {
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__pict {
          position: relative;
          margin-bottom: 20px;
          
          .number {
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
        &__text {
          font-weight: bold;
          font-size: 24px;
          line-height: 50px;
          margin: 0 0 0 2px;
          
          span {
            color: #3CCACE;
          }
        }
        &__description {
          font-size: 18px;
          line-height: 1.5;
          margin: 16px 0 0;
        }
      }

      .list--last {
        margin: 16px 0 0;
      }
    }
  }
  .topMiddlecontent {
    background-image: url("bg-topMiddleDl-pict.jpg");
    background-position: bottom right;
    height: 400px;
    background-size: cover;
    display: flex;
    align-items: center;
    &__inner {
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 0 auto;
      .subtitle {
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      .text {
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .btn {
        display: flex;
        a {
          margin-right: 10px;
        }
      }
    }
  }
  .topFeatures {
    padding: 60px 100px;
    background-color: #fff;
    .head {
      font-size: 27px;
      text-align: center;
      margin: 0 0 40px;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      @include clearfix();
    }
    .items {
      max-width: calc(1040px + 20px);
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      .item {
        display: flex;
        flex-direction: column;
        width: calc(1 / 3 * 100%);
        text-align: center;
        padding: 0 20px;
        &__img {
          width: 70%;
          margin: 0 auto;
          line-height: 120px;
        }
        &__subtitle {
          margin: 38px 0 10px;
          font-size: 19px;
          font-weight: bold;
        }
        &__detail {
          margin: 0 0 40px;
          font-size: 17px;
          font-weight: 200;
          text-align: left;
        }
      }
    }
  }
  .pickupContent {
    padding: 80px 0 0;
    background-color: #f8f8f8;
    height: 100%;
    .head {
      text-align: center;
      font-size: 28px;
      line-height: 1.4;
      font-weight: bold;
    }
    .productBox {
      .productHead {
        text-align: center;
        a {
          font-size: 24px;
          text-decoration: none;
          color: #3CCACE;
          h3 {
            font-weight: bold;
          }
        }
      }
      .productLists {
        width: 780px;
        margin: 26px auto;
        display: flex;
        justify-content: space-around;
        a {
          text-decoration: none;
          position: relative;
        }
        
        .productList {
          width: 220px;
          display: inline-block;
          float: left;
          
          a {
            background-color: #fff;
            display: inline-block;
            .productList--img {
              width: 220px;
              height: 150px;
              position: relative;
              overflow: hidden;
              margin: 0;
              z-index: auto;
              img {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                z-index: auto;
                height: 150px;
                object-fit: cover;
              }
            }
            .productList--body {
              background-color: white;
              color: #333;
              padding: 16px;
              .name {
                overflow: hidden;
                line-height: 1.5;
                font-size: 16px;
                text-align: left;
              }
              .details {
                font-size: 16px;
                ul {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;
                }
                p {
                  font-size: 10px;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
  .pickupContent:last-child {
    padding-bottom: 80px;
  }
}
.appBanner {
  background-image: url(bg-appBanner-pict.jpg);
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .inner {
    color: #fff;
    text-align: center;
    &__title {
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      font-size: 24px;
      font-weight: bold;
      line-height: 1.4;
    }
    &__text {
      font-size: 35px;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
    }
    &__icon {
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 20px auto 0;
      a:first-child {
        margin-right: 10px;
      }
      a {
        margin-right: 10px;
      }
    }
  }
}
.footer {
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  text-align: center;
  .contents {
    max-width: 840px;
    margin: 0 auto;
    display: flex;
    .content {
      display: flex;
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      &__head {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      ul {
        list-style: none;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-size: 12px;
            line-height: 32px;
          }
        }
      }
    }
  }
  &__logo {
    max-width: 160px;
    width: 100%;
    margin: 0 auto;
  }
  p {
    font-size: 14px;
  }
}

.purchasebtn {
  width: 120px;
  background: #3CCACE;
  text-align: center;
  border-radius: 4%;
  bottom: 32px;
  right: 32px;
  position: fixed;
  padding: 15px;
  &__text {
    color: #fff;
    display: block;
    font-size: 18px;
    text-decoration: none;
    margin-bottom: 5px;
  }
  &__icon {
    width: 60%;
  }
}
//categoy/index//


.category-index {
  background: transparent;
  margin: 40px auto;
  width: 700px;
  .category {
    &__title {
      h2 {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.4;
      }
    }
    &__list--nav {
      padding: 20px 0;
      &__root:hover {
        background-color: red;
        color: white;
      }
      &__root {
        font-size: 16px;
        line-height: 15px;
        background-color: white;
        color: black;
        text-decoration-line: none;
        display: inline-block;
        border-radius: 4px;
        min-width: 80px;
        height: 40px;
        -webkit-box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);        box-shadow: 1px 1px 1px 1px rgba(14,14,14,0.0580392);
        padding: 0 30px;
        margin: 5px;
      }
    }
    &__list--box {
      padding-bottom: 50px;
      .invisual {
        &__title {
          background-color: red;
          border-top-left-radius: 4px;
          border-top-right-radius: 4px;
          padding: 7px 30px 0 30px;
          height: 40px;
          line-height: 0px;
          a {
            text-decoration: none;
            h3 {
              color: white;
              font-size: 22px;
              font-weight: 700;
            }
          }
        }
        &__list {
          background-color: white;
          padding: 24px 30px 10px 30px;
          .all {
            display: block;
            margin-top: 8px;
            margin-bottom: 8px;
            font-size: 16px;
            text-decoration: none;
            p {
              color: #0099e8;
            }
          }
          &__sub-category-name {
            padding-bottom: 5px;
            h4 {
              font-size: 14px;
              line-height: 3;
              font-weight: 700;
              a {
                text-decoration: none;
                color: black;
                font-weight: 700;
              }
              .child_box {
                padding: 0 20px;
                &__list {
                  display: inline-block;
                  width: 49%;
                  &__all {
                    font-weight: 300;
                    text-decoration: none;
                    color: #0099e8;
                  }
                }
                a {
                  text-decoration: none;
                  color: #0099e8;
                  font-weight: 100;
                  font-size: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}