.sign
  .top
    .top__mercari
      = image_tag "login.svg"
  .done
    .done__contents
      .done__contents__dones
        会員登録完了
      .done__contents__main-done
        .done__contents__main-done__main-don
          .done__contents__main-done__main-don__thank
            ありがとうございます。
          .done__contents__main-done__main-don__done-end
            会員登録が完了しました。
          .done__contents__main-done__main-don__start
            =link_to "メルカリをはじめる", root_path
      .done__contents--done-end
        = image_tag "login2.jpg",height: "250",width: "700"