= render "products/header"
.topman
  .main
    .main__sign-up
      新規会員登録
    .main__block
      .main__block__1
        = link_to 'メールアドレスで登録', new_user_registration_path, class: "aa"
      .main__block__2
        Facebookで登録する
      .main__block__3
        Googleで登録する  
      .listing__footer
        .nav
          %ul
            %li プライバシーポリシー
            %li フリマ利用規約
            %li 特定商取引に関する表記
        .listing__footer__logo
          = image_tag "logo_gray.svg", alt:"merukari"
          %p © Furima, Inc.