.topman
  .main
    .main__sign-up
      新規会員登録
    .main__block
      .main__block__1
        = link_to 'メールアドレスで登録', new_user_registration_path, class: "aa"
      .main__block__2
        Facebookで登録する
      .main__block__3
        Googleで登録する  