.mypate_container
  .left-container
    .left-content
      %li.listsRight__item.listsRight__item--new
        = link_to 'ログアウト', destroy_user_session_path,method: :delete
    = render "users/side_bar"
