= render "shared/header" 
.buy__model
  .buy__model__content
    %h2 購入が完了しました！
    %p
      -# = @product.name
      = image_tag "", size: "80x80" 
      .buy__model__content__product__price
        %p ￥
        -# = @product.price
      .gray-btn
        = link_to "トップページに戻る", root_path
.semifooter
  = render "shared/footer"