= render "shared/header" 
.buy__model
  .buy__model__content
    .done
      %h2 購入が完了しました！
    .gray-btn.margin-top
      = link_to "トップページに戻る", root_path
    .gray-btn
      = link_to "出品画面に進む",new_product_path
.semifooter
  = render "shared/footer"