.mypate_container {
  width: 100%;
  margin: 40px auto;
  .left-container {
    width: 1020px;
    margin: 0 auto;
    .side-bar {
      float: left;
    }
    .left-content {
      width: 700px;
      background-color: white;

      float: right;
      // ここからサイドバーの各要素CSSを入れる
      .log-out {
        padding: 64px;
        text-align: center;
        &__button {
          border: red solid 1px;
          background-color: red;
          color: white;
          width: 320px;
          height: 50px;
          font-size: 14px;

        }
      }
    }  
  }
}

.left-content2 {
  height: 50px;
  background: #3ae0e4;
  width: 700px;
  float: right;
}

.listsRight__item {
  list-style: none;
  text-align: center;
  line-height: 50px;
}

.ggg {
  text-decoration: none;
  color: white;
  font-size: 20px;
}