.sign
  .top
    .top__mercari
      = image_tag "login.svg"
  .main
    .main__sign-up
      新規会員登録
    .main__block
      .main__block__1
        メールアドレスで登録する
      .main__block__2
        Facebookで登録する
      .main__block__3
        Googleで登録する
  .bottom
    .bottom__texts
      .bottom__texts__left
        プライバシーポリシー
      .bottom__texts__center
        メルカリ利用規約
      .bottom__texts__right
        特定商取引に関する表記  
    .bottom__icon
      = image_tag "login.bottom.svg",height: "65",width: "80"
    .bottom__end
      ©︎ Mercari, Inc.