.sign
  .top
    .top__mercari
      %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3042626687"}/
  .log-seco
    .log-seco__seco
      .log-seco__seco__10
        認証番号の確認
      .log-seco__seco__11
        .log-seco__seco__11__11a
          .log-seco__seco__11__11a__11aa
            ***-****-****にSMSでお送りした6桁の認証番号を入力してください。
          .log-seco__seco__11__11a__11ab
            .log-seco__seco__11__11a__11ab__num1
              認証番号
            .log-seco__seco__11__11a__11ab__num2
              6桁の認証番号を入力
            .log-seco__seco__11__11a__11ab__num3
              認証して完了
      .log-seco__seco__12
        .log-seco__seco__12__12a
          .log-seco__seco__12__12a__12ab
            60秒たってもたっても認証番号が届かない方へ
          .log-seco__seco__12__12a__12ac
            .log-seco__seco__12__12a__12ac__num4
              電話で認証番号も聞くことができる
            .log-seco__seco__12__12a__12ac__num5
              電話で認証番号を聞く (通話無料)
          .log-seco__seco__12__12a__12ac
            .log-seco__seco__12__12a__12ac__num4
              認証番号を再送することもできます
            .log-seco__seco__12__12a__12ac__num5
              認証番号を再送する
          .log-seco__seco__12__12a__12ac
            .log-seco__seco__12__12a__12ac__num4
              メールアドレスで認証することもできます
            .log-seco__seco__12__12a__12ac__num5
              メールアドレスで認証する
          .log-seco__seco__12__12a__12ad
            ※SMSが届かない場合はSMS受信設定を確認して、もう一度電話番号を入力してください。