.sign
  .top
    .top__mercari
      %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?3042626687"}/
  .done
    .done__contents
      .done__contents__dones
        会員登録完了
      .done__contents__main-done
        .done__contents__main-done__main-don
          .done__contents__main-done__main-don__thank
            ありがとうございます。
          .done__contents__main-done__main-don__done-end
            会員登録が完了しました。
          .done__contents__main-done__main-don__start
            メルカリを始める