.log {
  height: 731px;
  background: whitesmoke;
  
  &__login {
    height: 90%;
    width: 456px;
    margin: auto;
    background-color: #fff;

    &__log1 {
      padding: 40px 64px;
      text-align: center;
      
      &__log11 {
        font-size: 14px;
      }

      &__log12 {
        margin: 8px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
        text-decoration: none;
        
        .azza {
          text-decoration: none;
          color: #fff;
          font-size: 14px;
        }
      }
    }

    &__log2 {
      padding: 32px 64px;
      border-top: 1px solid #eee;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
      
      &__log21 {
        height: 50px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #fff;
        background: #385185;
        line-height: 48px;
      }

      &__log22 {
        height: 50px;
        width: 100%;
        font-size: 14px;
        text-align: center;
        color: #333;
        margin-top: 16px;
        border: #979797 solid 1px;
        line-height: 48px;
      }
    }

    &__log3 {

      &__log31 {
        padding: 24px 64px 32px;
        
        &__log32 {
          
          .ma-mail {
            height: 48px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding-left: 15px;
          }
        }

        &__log33 {
          margin-top: 16px;
          
          .pass-pass {
            height: 48px;
            width: 100%;
            border-radius: 4px;
            border: 1px solid #ccc;
            padding-left: 15px;
          }
        }

        &__log35 {
          height: 48px;
          width: 100%;
          margin-top: 24px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          text-align: center;
          
          .sosos {
            font-size: 14px;
            background-color: #3CCACE;
            border: 1px solid #3CCACE;
            color: #fff;
            line-height: 40px;
          }
        }
        
        &__log36 {
          color: #0099e8;
          margin: 40px 0 0;
          font-size: 14px;
        }
      }
    }
  }
}