.middle {
  font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

  &__inbox {
    height: 100%;
    width: 700px;
    margin: 0 auto;
    background-color: #fff;

    &__phone {
      font-size: 22px;
      padding: 32px;
      border-bottom: 1px solid #f5f5f5;
      text-align: center;
      line-height: 1.5;
      font-weight: bold;
    }
    
    &__boxs {
      padding: 40px 40px 64px;
      border-top: 1px solid #f5f5f5;
      font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;

      &__c {
        font-family: "Source Sans Pro", Helvetica, Arial, 游ゴシック体, YuGothic, メイリオ, Meiryo, sans-serif;
        
        &__d {
          font-weight: 560;
          margin-left: 140px;
          font-size: 14px;
        }

        &__e {
          width: 343px;
          height: 48px;
          border-radius: 4px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          margin: 8px 0 0;
          color: #888;
          margin: auto;
          line-height: 3;
          margin-top: 10px;
        }
      }
    }
    
    .sms {
      width: 343px;
      margin: auto;
      font-size: 14px;
      margin-top: 10px;
      line-height: 1.5;
    }
    .red {
      margin: auto;
      margin-top: 32px;
      background-color: #ea352d;
      border: 1px solid #ea352d;
      color: #fff;
      line-height: 48px;
      width: 343px;
      font-size: 14px;
      text-align: center;
    }

    .tyui {
      font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
      color: #333;
      font-size: 14px;
      text-align: center;
      width: 343px;
      margin: auto;
      margin-top: 8px;
      line-height: 1.5;
    }

    .phone-right {
      height: 21px;
      text-align: right;
      margin-top: 32px;
      color: #0099e8;
      margin-right: 140px;
    }
  }
}