- @parents.each do |parent|
  =parent.name
.category-index
  .category
    .category__title
      %h2 カテゴリー一覧
    .category__list--nav
      .category__list--nav__root
        レディース
      .category__list--nav__root
        メンズ
      .category__list--nav__root
        ベビーキッズ
      .category__list--nav__root
        レディース
      .category__list--nav__root
        メンズ
      .category__list--nav__root
        ベビーキッズ
      .category__list--nav__root
        ベビーキッズ
      .category__list--nav__root
        レディース
      .category__list--nav__root
        メンズ
      .category__list--nav__root
        ベビーキッズ
    
      .category__list--box
        .invisual
          .invisual__title
            %h3 レディース
          .invisual__list
            %p すべて
            .invisual__list__sub-category-name
              %h4　トップス
            .child_box
              .child_box__list
                すべて
                .child_box__list__all
                  aaaaa
              .child_box__list
                トップス