.listing__footer
      .nav
        %ul
          %li プライバシーポリシー
          %li フリマ利用規約
          %li 特定商取引に関する表記
      .listing__footer__logo
        = image_tag "logo_gray.svg", alt:"merukari"
        %p © Furima, Inc.
