= render "header"
.delete-main
  .delete-title
    商品が削除されました（；＿；）
    %br
    また出品してね♡
    %br/
    = link_to "トップページに行くよ", root_path
    %br
    = link_to "マイページへ行くよ", user_path(current_user.id)
= render "shared/footer"