

-# .product_price
-#   .product_price-group
-#     .product_header
-#       価格
-#     .product_require
-#       必須 
-#   .product_price-form
-#     ¥
-#     %input#price_calc.price_form-box{placeholder: "例) 300", type: "number"}/

-#   .product_price-fee
-#     販売手数料(10%)
-#     .right_bar

-#   .product_profit
-#     販売利益
-#     = f.number_field :price, style: "display: none", id: "price"
-#     .right_bar_2

%body
  / Google Tag Manager (noscript)
  %noscript
    %iframe{:height => "0", :src => "https://www.googletagmanager.com/ns.html?id=GTM-KLPT5L5", :style => "display:none;visibility:hidden", :width => "0"}
  / End Google Tag Manager (noscript)
  .single-container
    %header.single-header
      %h1
        %a{:href => "https://www.mercari.com/jp/"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?73731125"}/
    %main.single-main
      %section.l-single-container.buy-item-container
        #sell-container
          %div{"data-reactroot" => ""}
            .sell-container-inner
              %h2.l-single-head 商品の情報を入力
              %form.sell-form
                .sell-upload-box
                  %h3.sell-upload-head
                    / react-text: 7
                    出品画像
                    / /react-text
                    %span.form-require 必須
                  %p 最大10枚までアップロードできます
                  .sell-dropbox-container.clearfix.state-image-number-10
                    .sell-upload-items-container
                      .sell-upload-items.have-item-0
                        %ul
                    .sell-upload-drop-box.have-item-0
                      %input.sell-upload-drop-file{:multiple => "multiple", :name => "image1", :style => "display: none;", :type => "file"}/
                      %pre.visible-pc
                        :preserve
                          ドラッグアンドドロップ
                          またはクリックしてファイルをアップロード                      %i.icon-camera
                  / react-empty: 18
                  / react-empty: 19
                  / react-empty: 20
                  / react-empty: 21
                  / react-empty: 22
                  / react-empty: 23
                  / react-empty: 24
                  / react-empty: 25
                  / react-empty: 26
                  / react-empty: 27
                .sell-content
                  .form-group
                    %label
                      / react-text: 31
                      商品名
                      / /react-text
                      %span.form-require 必須
                    %div
                      %input.input-default{:placeholder => "商品名（必須 40文字まで)", :value => ""}/
                    / react-empty: 35
                  .form-group
                    %label
                      / react-text: 38
                      商品の説明
                      / /react-text
                      / react-text: 39
                      / /react-text
                      %span.form-require 必須
                    %textarea.textarea-default{:placeholder => "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。", :rows => "5"}
                    / react-empty: 42
                .sell-content.clearfix
                  %h3.sell-sub-head 商品の詳細
                  .sell-form-box
                    .form-group
                      %label
                        / react-text: 48
                        カテゴリー
                        / /react-text
                        %span.form-require 必須
                      %div
                        .select-wrap
                          %i.icon-arrow-bottom
                          %select.select-default
                            %option{:value => ""} ---
                            %option{:value => "1"} レディース
                            %option{:value => "2"} メンズ
                            %option{:value => "3"} ベビー・キッズ
                            %option{:value => "4"} インテリア・住まい・小物
                            %option{:value => "5"} 本・音楽・ゲーム
                            %option{:value => "1328"} おもちゃ・ホビー・グッズ
                            %option{:value => "6"} コスメ・香水・美容
                            %option{:value => "7"} 家電・スマホ・カメラ
                            %option{:value => "8"} スポーツ・レジャー
                            %option{:value => "9"} ハンドメイド
                            %option{:value => "1027"} チケット
                            %option{:value => "1318"} 自動車・オートバイ
                            %option{:value => "10"} その他
                      / react-empty: 55
                    .form-group
                      %label
                        / react-text: 246
                        サイズ
                        / /react-text
                        %span.form-require 必須
                      .select-wrap
                        %i.icon-arrow-bottom
                        %select.select-default
                          %option{:value => ""} ---
                          %option{:value => "56"} 60cm
                          %option{:value => "57"} 70cm
                          %option{:value => "58"} 80cm
                          %option{:value => "59"} 90cm
                          %option{:value => "60"} 95cm
                      / react-empty: 257
                    .form-group.form-suggest-container
                      %label
                        / react-text: 260
                        ブランド
                        / /react-text
                        %span.form-arbitrary 任意
                      %div
                        %input.input-default{:placeholder => "例）シャネル", :value => ""}/
                        %div
                      / react-empty: 265
                    .form-group
                      %label
                        / react-text: 58
                        商品の状態
                        / /react-text
                        %span.form-require 必須
                      .select-wrap
                        %i.icon-arrow-bottom
                        %select.select-default
                          %option{:value => ""} ---
                          %option{:value => "1"} 新品、未使用
                          %option{:value => "2"} 未使用に近い
                          %option{:value => "3"} 目立った傷や汚れなし
                          %option{:value => "4"} やや傷や汚れあり
                          %option{:value => "5"} 傷や汚れあり
                          %option{:value => "6"} 全体的に状態が悪い
                      / react-empty: 64
                .sell-content.clearfix
                  %h3.sell-sub-head 配送について
                  %a.form-question{:href => "/jp/help_center/article/68/", :target => "_blank"} ?
                  .sell-form-box
                    .form-group
                      %label
                        / react-text: 71
                        配送料の負担
                        / /react-text
                        %span.form-require 必須
                      .select-wrap
                        %i.icon-arrow-bottom
                        %select.select-default
                          %option{:value => ""} ---
                          %option{:value => "2"} 送料込み(出品者負担)
                          %option{:value => "1"} 着払い(購入者負担)
                      / react-empty: 77
                    .form-group
                      %label
                        / react-text: 80
                        発送元の地域
                        / /react-text
                        %span.form-require 必須
                      .select-wrap
                        %i.icon-arrow-bottom
                        %select.select-default
                          %option{:value => ""} ---
                          %option{:value => "1"} 北海道
                          %option{:value => "2"} 青森県
                          %option{:value => "3"} 岩手県
                          %option{:value => "4"} 宮城県
                          %option{:value => "5"} 秋田県
                          %option{:value => "6"} 山形県
                          %option{:value => "7"} 福島県
                          %option{:value => "8"} 茨城県
                          %option{:value => "9"} 栃木県
                          %option{:value => "10"} 群馬県
                          %option{:value => "11"} 埼玉県
                          %option{:value => "12"} 千葉県
                          %option{:value => "13"} 東京都
                          %option{:value => "14"} 神奈川県
                          %option{:value => "15"} 新潟県
                          %option{:value => "16"} 富山県
                          %option{:value => "17"} 石川県
                          %option{:value => "18"} 福井県
                          %option{:value => "19"} 山梨県
                          %option{:value => "20"} 長野県
                          %option{:value => "21"} 岐阜県
                          %option{:value => "22"} 静岡県
                          %option{:value => "23"} 愛知県
                          %option{:value => "24"} 三重県
                          %option{:value => "25"} 滋賀県
                          %option{:value => "26"} 京都府
                          %option{:value => "27"} 大阪府
                          %option{:value => "28"} 兵庫県
                          %option{:value => "29"} 奈良県
                          %option{:value => "30"} 和歌山県
                          %option{:value => "31"} 鳥取県
                          %option{:value => "32"} 島根県
                          %option{:value => "33"} 岡山県
                          %option{:value => "34"} 広島県
                          %option{:value => "35"} 山口県
                          %option{:value => "36"} 徳島県
                          %option{:value => "37"} 香川県
                          %option{:value => "38"} 愛媛県
                          %option{:value => "39"} 高知県
                          %option{:value => "40"} 福岡県
                          %option{:value => "41"} 佐賀県
                          %option{:value => "42"} 長崎県
                          %option{:value => "43"} 熊本県
                          %option{:value => "44"} 大分県
                          %option{:value => "45"} 宮崎県
                          %option{:value => "46"} 鹿児島県
                          %option{:value => "47"} 沖縄県
                          %option{:value => "99"} 未定
                      / react-empty: 86
                    .form-group
                      %label
                        / react-text: 89
                        発送までの日数
                        / /react-text
                        %span.form-require 必須
                      .select-wrap
                        %i.icon-arrow-bottom
                        %select.select-default
                          %option{:value => ""} ---
                          %option{:value => "1"} 1~2日で発送
                          %option{:value => "2"} 2~3日で発送
                          %option{:value => "3"} 4~7日で発送
                      / react-empty: 95
                .sell-content.clearfix
                  %h3.sell-sub-head 販売価格(300〜9,999,999)
                  %a.form-question{:href => "/jp/help_center/article/64/", :target => "_blank"} ?
                  .sell-form-box
                    %ul.sell-price
                      %li.form-group
                        .clearfix
                          %label.l-left
                            / react-text: 104
                            価格
                            / /react-text
                            %span.form-require 必須
                          .l-right.sell-price-input
                            / react-text: 107
                            ¥
                            / /react-text
                            %div
                              %input.input-default{:placeholder => "例）300", :value => ""}/
                        / react-empty: 110
                      %li.clearfix
                        .l-left
                          / react-text: 212
                          販売手数料 (10%)
                          / /react-text
                        .l-right -
                      %li.clearfix.bold
                        .l-left 販売利益
                        .l-right -
                .modal{:role => "dialog", :tabindex => "-1"}
                  .modal-inner
                .sell-content.sell-btn-box
                  %div
                    %p
                      %a{:href => "/jp/help_center/getting_started/prohibited_items/", :target => "_blank"} 禁止されている出品
                      / react-text: 123
                      、
                      / /react-text
                      %a{:href => "/jp/help_center/getting_started/prohibited_conduct/", :target => "_blank"} 行為
                      / react-text: 125
                      を必ずご確認ください。
                      / /react-text
                    %p
                      / react-text: 127
                      またブランド品でシリアルナンバー等がある場合はご記載ください。
                      / /react-text
                      %a{:href => "/jp/help_center/getting_started/counterfeit_goods/", :target => "_blank"} 偽ブランドの販売
                      / react-text: 129
                      は犯罪であり処罰される可能性があります。
                      / /react-text
                    %p
                      / react-text: 131
                      また、出品をもちまして
                      / /react-text
                      %a{:href => "/jp/seller_terms/"} 加盟店規約
                      / react-text: 133
                      に同意したことになります。
                      / /react-text
                  %button.btn-default.btn-red{:type => "submit"}
                    / react-text: 135
                    出品する
                    / /react-text
                  %a.btn-default.btn-gray もどる
                  / react-empty: 137
              .overlay
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?73731125", :width => "80"}/
      %p
        %small © Mercari, Inc.
